<ul class="topnav">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/add">Add</a></li>
  <li><a href="/search">Search</a></li>
</ul>


<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>WELCOME TO PNW BEAK BEACON!</h1>
                
                <div class="jumbotron" style="background-image: url(https://media.treehugger.com/assets/images/2016/07/green-forest-trees.jpg.860x0_q70_crop-scale.jpg); background-size: 100%;">
                    <div class="tree_banner">
                    </div>
                </div>
                
                <p>
                    Intro paragraph...
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>


    <div class="container">
        <img src="https://www.birdatlas.bc.ca/photos/amgo_500.jpg" class="img-thumbnail" alt="Cinque Terre" width="220" height="186"> 
        <img src="https://uwpressblog.files.wordpress.com/2016/08/stjy00016-stellars-jay_p.jpg?w=625&h=416" class="img-thumbnail" alt="Cinque Terre" width="220" height="186"> 
        <img src="http://media.oregonlive.com/outdoors_impact/photo/juncojpg-9c4ccd6fedafa232.jpg" class="img-thumbnail" alt="Cinque Terre" width="220" height="186"> 
    </div>

                <br>
                <br>
                <br>




 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
