<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/add">Add</a></li>
  <li><a class="active" href="/search">Search</a></li>
</ul>


<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
            
                
                <div class="jumbotron" style="background-image: url(https://media.treehugger.com/assets/images/2016/07/green-forest-trees.jpg.860x0_q70_crop-scale.jpg); background-size: 100%;">
                    <div class="tree_banner">
                    </div>
                </div>

            <h2>SEARCH BIRDS</h2>

        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>


            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
